html
  head
    
    //main css
    link(rel="stylesheet" href="assets/main.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")  
    title Link Shortener
  
  body
    
    h1(class="stretch") Shorten / It
    #urlbox(class="nofocus" contenteditable="true")
    #colorblock(class="valid")
      #options
        text Random String
        input(type="radio" name="method" value="randomString")
        text Hashing Function
        input(type="radio" name="method" value="basicHash")
        text No Vowels
        input(type="radio" name="method" value="novowels")
        text Anagram
        input(type="radio" name="method" value="anagram")
      #shortenedbox(class="nofocus")
        #icon(class="fa fa-link")
        #shortenedtext
    
        
  //main js      
  script(src='/assets/main.js')
