html
  head
    
    //main css
    link(rel="stylesheet" href="assets/main.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")  
    title Link Shortener
  
  body
    
    //not visible stuff
    #notify
    #validity
    
    //visible stuff
    h1 Shorten It
    #urlbox(class="nofocus" contenteditable="true")
    #shortenedbox(class="nofocus")
    
        
  //main js      
  script(src='/assets/main.js')
