body{
  font-family: helvetica;
  font-weight: lighter;
  margin: 0;

}

h1{
  letter-spacing: 0vw;
  font-weight: lighter;
  font-size: 2vw;
  color: #c8c8c8;
  text-transform: uppercase;
}

#colorblock{
  width: 100%;
  height: 300px;
  background-color: #71a784;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}
#icon{
  color:#e8fff0;
}
#shortenedtext, #icon{
  font-size: 6vw;
  height: 40px;
  display: inline-block;
}
#shortenedtext a{
  color: #ceffdf;
  background: rgba(104,128,113, 0.5);
}
#shortenedtext a:hover{
  background: rgba(104,128,113, .8);
}
#shortenedtext{
  text-indent:1vw;
  width: 100%;
  word-wrap: break-word;
}
#shortenedbox{
  padding: 2vw;
  display: none;
}
#urlbox{
  padding-left: 5px;
  font-size: 7vw;
  margin: 0 10vw 0 0;
}
#options{
  color: white;
  font-size: 1.5vw;
  padding-top: 10px;
}
#options input {
  width: 15px;
  height: 15px;
}
#options span{
  margin-left: 30px;
  margin-right: 5px;
}
.nofocus {
  outline-width: 0;
}

.invalid{
  background-color:#ff6666 !important;
}
.valid{
  background-color: #71a784 !important;
}
